/*
====================
google fonts
====================
*/

/*
<link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
*/
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

/*
====================
global
====================
*/

body {
  font-family: 'Roboto Mono', 'Courier New', monospace;
  font-size: 100%;
  color: hsla(17, 88%, 73%, 1);
  background-color: hsla(19, 96%, 98%, 1);
  transition: all 0.2s ease;
}

::selection {
  color: hsla(17, 88%, 73%, 1);
  background-color: hsla(17, 88%, 73%, 0.5);
}

::-moz-selection { /* Code for Firefox */
  color: hsla(17, 88%, 73%, 1);
  background-color: hsla(17, 88%, 73%, 0.5);
}

.continent-wrapper {
  width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: hsla(17, 88%, 73%, 1);
}

nav a:hover {
  border-bottom: 4px solid;
}

h1, h2, h3 {
  font-family: 'Archivo Black';
  color: hsla(19, 96%, 90%, 1);   /* color: #fedccc; */
  z-index: 10;
}

h1 {
  font-size: 16em;
  line-height: 0.8em;
  -ms-transform: translate(-20px, 0); /* IE 9 */
  -webkit-transform: translate(-20px, 0); /* Safari */
  transform: translate(-20px, 0);
}

.closer-wrapper h1 {
  text-align: right;
  -ms-transform: translate(20px, 0); /* IE 9 */
  -webkit-transform: translate(20px, 0); /* Safari */
  transform: translate(20px, 0);
}

h2 {
  font-size: 8em;
  text-align: right;
}

h3 {
  font-size: 6em;
}

h2, h3 {
  margin: 120px 0 60px 0;
}

p {
  font-size: 1.25em;
  padding: 30px;
  margin: 60px 0;
  border-left: 4px solid;
  z-index: 20;
}

.clearfix:after { /* for photo grid row */
  content: " ";
  display: block;
  clear: both;
}

/*
====================
photo grid
====================
*/

.photo-grid {
  width: 900px;
  margin: 0 auto;
  z-index: 30;
}

.photo-grid-row {
  margin-bottom: 15px;
}

.col-1 {
  float: left;
  height: 290px;
  width: 290px;
  margin-right: 15px;
  background: hsla(187, 68%, 70%, 0.5); /* background when image is not loaded */
}

.last {
  margin-right: 0;
}

.col-1 a img {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.empty { /* for test when image is not loaded */
  display: none;
}

/*
====================
form
====================
*/

.contact-wrapper {
  color: hsla(187, 68%, 70%, 1);
  background: hsla(187, 68%, 70%, 0.5);
}

.contact-form {
  width: 900px;
  margin: 0 auto;
  padding: 120px 0;
}

.info-name, .info-email, .info-instagram {
  display: inline-block;
  margin: 0 15px 15px 0;
}

.info-name input, .info-email input, .info-instagram input {
  height: 45px;
  width: 280px;
  margin-top: 15px;
  padding-left: 10px;
}

.form-message, .form-button {
  margin-top: 15px;
}

.form-button {
  height: 45px;
  width: 100%;
}
