/*
====================
color reference
====================
*/

/*
white: hsla(0, 0%, 100%, 1);
black: hsla(0, 0%, 0%, 1);
black transparent: hsla(0, 0%, 0%, 0.5);
*/

/*
====================
google fonts
====================
*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400');

/*
====================
global
====================
*/

body {
  font-family: 'Roboto Mono', 'Courier New', monospace;
  font-size: 100%;
  font-weight: 300;
  color: hsla(0, 0%, 15%, 1);
  background-color: hsla(0, 0%, 100%, 1);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p + p {
  margin-top: 1em;
}

a,
a:hover,
a:active,
a:visited {
  color: hsla(0, 0%, 65%, 1);
}

img {
  position: absolute;
  max-width: 100%;
  vertical-align: top;
}

/*
====================
layout
====================
*/

/* section */
.section {}

.section--background-image {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section--padding {
  padding: 8rem 0;
}

.section--padding-small {
  padding: 2rem 0;
}

.section--flex-vertical {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section--flex-center {}

/* wrapper */
.wrapper {
  max-width: 900px;
  padding: 0 2%;
  margin: 0 auto;
}

/* column */
.column {
  position: relative;
  float: left;
  margin-right: 2%;
  overflow: hidden;
}

.column--1-3 {
  width: 32%;
}

.column--2-3 {
  width: 66%;
}

.column--right {
  float: right;
}

.column--last {
  margin-right: 0;
}

.column--about {
  width: 64%;
  margin-left: 2%;
}

/* clearfix */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/*
====================
z-index
====================
*/

.home { /* contains .intro */
  z-index: 0;
}

.main, /* contains .continent and .country */
.about,
.contact,
.footer {
  z-index: 10;
  position: relative;
}

.image__overlay {
  z-index: 20;
}

/*
====================
home, intro, main, about, contact, footer
====================
*/

/* home */
.home {
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.1), hsla(0, 0%, 0%, 0.5)), url("../images/background-image.jpg");
}

.home__container {}

.home__header {}

.home__content {}

/* intro */
.intro {}

.intro__container {}

/* main */
.main {
  background-color: inherit;
}

/* about */
.about {
  background-color: grey;
}

.about__container {}

/* contact */
.contact {
  background-color: inherit;
}

.contact__container {}

/* footer */
.footer {
  background-color: grey;
}

.footer__container {}

/*
====================
continent, country
====================
*/

/* continent */
.continent {}

.continent + .continent {
  margin-top: 8rem;
}

.continent__container {
  margin-bottom: 8rem;
}

.continent__header {}

.continent__content {}

/* country */
.country {}

.country + .country {
  margin-top: 8rem;
}

.country__container {
  margin-bottom: 4rem;
}

.country__header {}

.country__content {}

/*
====================
image grid
====================
*/

.image-grid {}

.image-grid__row {
  margin-bottom: 2%;
}

/* image */
.image {}

.image--circle {
  border-radius: 50%;
}

.image__container {
  position: relative;
  height: 0;
  background-color: grey;
  padding-bottom: 32%;
}

.image__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  visibility: hidden;
}

/* image hover image */
.image__container:hover .image__overlay {
  opacity: 1;
  visibility: visible;
}

/* toggle */
.image-grid__toggle {}

.image-grid__toggle--hide {
  display: none;
}

.image-grid__toggle--show {
  display: block;
}

/* image grid countries */
.image-grid--iceland {}
.image-grid--netherlands {}
.image-grid--belgium {}
.image-grid--germany {}
.image-grid--denmark {}
.image-grid--sweden {}
.image-grid--finland {}
.image-grid--norway {}
.image-grid--thailand {}
.image-grid--cambodia {}
.image-grid--vietnam {}
.image-grid--singapore {}
.image-grid--indonesia {}
.image-grid--australia {}
.image-grid--hawaii {}
.image-grid--canada {}
.image-grid--usa {}
.image-grid--puerto-rico {}

/*
====================
header
====================
*/

.header {
  margin-bottom: 2rem;
}

.header--home {
  font-size: 6rem;
}

.header--continent {
  font-size: 3rem;
}

.header--country {
  font-size: 1.5rem;
}

.header--underline {
  border-bottom: 1px solid grey;
}

/*
====================
text
====================
*/

.text {
  line-height: 1.5em;
}

.text--small {
  font-size: 0.75rem;
}

.text--large {
  font-size: 1.125rem;
}

.text--right {
  text-align: right;
}

.text--center {
  text-align: center;
}

.text--white {
  color: hsla(0, 0%, 100%, 1);
}

.text--overlay {
  margin-top: 16%;
}

.text--overlay::after {
  content: '- View on Instagram -';
  display: block;
  margin-top: 16%;
  font-size: 0.75rem;
  color: hsla(0, 0%, 100%, 0.5);
}

.text--more {}

.text--less {}

.text--form-label {
  display: block;
}

.text--form-input {
  font-family: inherit;
  font-weight: inherit;
}

/*
====================
sub-navigation
====================
*/

.sub-navigation {}

.sub-navigation__item {}

.sub-navigation__item--alternate {}


/*
====================
button
====================
*/

.button {
  cursor: pointer;
  width: 100%;
  padding: 1em 0;
  background-color: grey;
  display: flex;
  justify-content: center;
}

.button:hover {
  background-color: blue;
}

.button--form {
  border: none;
}

/* button toggle */
.button--toggle > .text--less,
.button--less > .text--more {
  display: none;
}

.button--less > .text--less {
  display: block;
}

/* image grid button */
.button--iceland {}
.button--netherlands {}
.button--belgium {}
.button--germany {}
.button--denmark {}
.button--sweden {}
.button--finland {}
.button--norway {}
.button--thailand {}
.button--cambodia {}
.button--vietnam {}
.button--singapore {}
.button--indonesia {}
.button--australia {}
.button--hawaii {}
.button--canada {}
.button--usa {}
.button--puerto-rico {}

/*
====================
form
====================
*/

.form {}

.form__row {}

.form__row + .form__row {
  margin-top: 1rem;
}

.form__label {
  margin-bottom: 0.5rem;
}

.form__input {
  max-width: 100%;
  width: 100%;
  padding: 0.5rem;
  border: 0;
  background-color: grey;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
