/*
====================
google fonts
====================
*/

@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
/*
<link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
*/

/*
====================
global
====================
*/

body {
  font-family: 'Roboto Mono', 'Courier New', monospace;
  font-size: 100%;
  color: hsla(17, 88%, 73%, 1);
  background-color: hsla(19, 96%, 98%, 1);
  transition: all 0.2s ease;
}

::selection {
  color: hsla(17, 88%, 73%, 1);
  background-color: hsla(17, 88%, 73%, 0.5);
}

::-moz-selection { /* Firefox */
  color: hsla(17, 88%, 73%, 1);
  background-color: hsla(17, 88%, 73%, 0.5);
}

.wrapper {
  width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.inner-wrapper {
  width: 900px;
  margin: 0 auto;
}

/* links */
a {
  text-decoration: none;
  color: hsla(17, 88%, 73%, 1);
}

/* headers */
h1, h2, h3 {
  font-family: 'Archivo Black';
  color: hsla(19, 96%, 90%, 1);   /* color: #fedccc; */
  z-index: 10;
}

h1 {
  font-size: 16em;
  line-height: 0.8em;
  -ms-transform: translate(-20px, 0); /* IE 9 */
  -webkit-transform: translate(-20px, 0); /* Safari */
  transform: translate(-20px, 0);
}

h2 {
  font-size: 8em;
  text-align: right;
}

h3 {
  font-size: 6em;
}

h2, h3 {
  margin: 120px 0 60px 0;
}

/* paragraphs */
p {
  font-size: 1.25em;
  padding: 30px 0 30px 30px;
  margin: 60px 0;
  border-left: 4px solid;
  z-index: 20;
}

/* media */
img {
  width: 100%;
  max-width: 100%;
}

/* overflow */
header, .closer {
  overflow: hidden;
}

/* clearfix */
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

/*
====================
nav
====================
*/

nav a:hover {
  border-bottom: 4px solid;
}

/*
====================
headers
====================
*/

/*
====================
photo grid
====================
*/

.photo-grid {
  z-index: 30;
}

.photo-grid-row {
  margin-bottom: 15px;
}

.col-1 {
  float: left;
  height: 290px;
  width: 290px;
  margin-right: 15px;
  background: hsla(187, 68%, 70%, 0.5); /* background when image is not loaded */
  overflow: hidden;
}

.last {
  margin-right: 0;
}

/*
====================
photo grid overlay
====================
*/

.overlay {
  opacity: 0;         /* hide while image loads */
	visibility: hidden; /* hide while image loads */
  position: relative;
  top: -101%; /* positioning hack */
  background: hsla(0, 0%, 0%, 0.5);
}

.overlay .city {
  border: 0;
  bottom: 0px;
  padding: 15px;
  margin: 0;
  color: hsla(0, 0%, 100%, 1);
}

/* hover effect */
.col-1 a:hover .overlay {
  opacity: 1;
	visibility: visible;
}

/*
====================
closer
====================
*/

.closer h1 {
  text-align: right;
  -ms-transform: translate(20px, 0); /* IE 9 */
  -webkit-transform: translate(20px, 0); /* Safari */
  transform: translate(20px, 0);
}

/*
====================
contact form
====================
*/

/* header */
.contact h1 {
  color: hsla(187, 68%, 70%, 1);
}

/* form */
.contact {
  padding: 120px 0;
  color: hsla(187, 68%, 70%, 1);
  background: hsla(187, 68%, 70%, 0.5);
}

.form-info, .form-message {
  padding-bottom: 30px;
}

form div .col-1 {
  height: auto;
  background: none;
}

label {
  display: inline-block;
  font-size: 1.25em;
  padding-bottom: 15px;
}

label span {
  font-size: 0.5em;
  color: hsla(187, 68%, 70%, 0.75);
}

/* input fields */
input, textarea {
  font-family: 'Roboto Mono', 'Courier New', monospace;
  color: hsla(187, 68%, 70%, 1);
  width: 100%;
  max-width: 100%;
  border: 0;
  padding: 15px;
  margin: 0;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* input placeholder text color */
::-webkit-input-placeholder {
   color: hsla(0, 0%, 0%, 0.25);
}

:-moz-placeholder { /* Firefox 18- */
   color: hsla(0, 0%, 0%, 0.25);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: hsla(0, 0%, 0%, 0.25);
}

:-ms-input-placeholder {
   color: hsla(0, 0%, 0%, 0.25);
}

/* focus */
input:focus, textarea:focus {
  outline: none;
}

/* validation
input[type="text"]:valid, input[type="email"]:valid {

}

input:invalid {

} */

/* button */
.form-button {
  font-size: 1.25em;
  width: 100%;
  color: hsla(0, 0%, 100%, 1);
  background-color: hsla(187, 68%, 70%, 1);
  cursor: pointer;
}

.form-button:hover {
  background-color: hsla(187, 68%, 50%, 1);
}

.form-button:active {
  color: hsla(0, 0%, 100%, 1);
  background-color: hsla(187, 68%, 50%, .5);
}

/*
====================
responsive css
====================


@media only screen and (max-width: 1200px) {

  .wrapper {
    width: 900px;
  }

}

@media only screen and (max-width: 960px) {

  .wrapper {
    width: 100%;
    padding: 0 2%;
  }

  .photo-grid-wrapper {
    width: 100%;
  }

  .photo-grid-row {
    margin-bottom: 2%;
  }

  .col-1 {
    height: 32%;
    width: 32%;
    margin-right: 2%;
  }

  .last {
    margin-right: 0;
  }

}

*/
