/*
====================
color reference
====================
*/

/*
white: hsla(0, 0%, 100%, 1);
black: hsla(0, 0%, 0%, 1);
*/

/*
====================
layout
====================
*/

/* section */
.section {}

.section--background-image {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section--padding {
  padding: 8rem 0;
}

.section--padding-small {
  padding: 2rem 0;
}

.section--flex-vertical {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section--flex-center {}

/* wrapper */
.wrapper {
  max-width: 900px;
  padding: 0 2%;
  margin: 0 auto;
}

/* row */
.row {}

.row--header {
  margin-bottom: 2rem;
}

/* column */
.column {
  position: relative;
  float: left;
  margin-right: 2%;
  overflow: hidden;
}

.column--1-3 {
  width: 32%;
}

.column--2-3 {
  width: 66%;
}

.column--right {
  float: right;
}

.column--last {
  margin-right: 0;
}

/* clearfix */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/*
====================
z-index
====================
*/

.home {
  z-index: 0;
}

.main,
.about,
.contact,
.footer {
  z-index: 10;
  position: relative;
}

/*
====================
home, intro, main, about, contact, footer
====================
*/

/* home */
.home {
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.1), hsla(0, 0%, 0%, 0.5)), url("../images/background-image.jpg");
}

.home__content {}

/* intro */
.intro {}

.intro__content {}

/* main */
.main {
  background-color: inherit;
}

/* about */
.about {
  background-color: grey;
}

.about__content {}

/* contact */
.contact {
  background-color: inherit;
}

.contact__content {}

/* footer */
.footer {
  background-color: grey;
}

.footer__content {}

/*
====================
continent, country
====================
*/

/* continent */
.continent {}

.continent + .continent {
  margin-top: 8rem;
}

.continent__content {
  margin-bottom: 8rem;
}

/* country */
.country {
  margin: 8rem 0;
}

.country__content {
  margin-bottom: 4rem;
}

/*
====================
image grid
====================
*/

.image-grid {}

.image-grid__row {
  margin-bottom: 2%;
}

.image-grid__toggle {}

.image-grid__toggle--hide {}

/*
====================
header
====================
*/

.header {}

.header--home {}

.header--continent {}

.header--country {}

/*
====================
text
====================
*/

.text {}

.text--large {
  font-size: 1.125rem;
}

.text--right {
  text-align: right;
}

.text--center {
  text-align: center;
}
